$mobile: 576px;
$tablet: 768px;
$desktop: 992px;
$large-desktop: 1200px;


@mixin respond-to($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: $mobile) { @content; }
  }
  @else if $breakpoint == tablet {
    @media (min-width: $tablet) { @content; }
  }
  @else if $breakpoint == desktop {
    @media (min-width: $desktop) { @content; }
  }
  @else if $breakpoint == large-desktop {
    @media (min-width: $large-desktop) { @content; }
  }
}

div.container-fluid:nth-child(4) > div > div[data-id='label'] {
  font-size: 16px;
  @include respond-to(mobile) {
    font-size: 1.1rem;
  }
  @include respond-to(tablet) {
    font-size: .8rem;
  }
  @include respond-to(desktop) {
    font-size: 1.8rem;
  }
}

input#source_folder, input#session_filename, input#target_folder {
  font-size: 16px;
  @include respond-to(mobile) {
    font-size: .6rem;
  }
  @include respond-to(tablet) {
    font-size: .8rem;
  }
  @include respond-to(desktop) {
    font-size: 1.8rem;
  }
}

div.container-fluid > div > div > div > div:nth-child(5) > div,
div.row:nth-child(6) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div,
div.row:nth-child(6) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div,
div.row:nth-child(6) > div:nth-child(1) > div:nth-child(1) > div:nth-child(3) > div {
  font-size: 16px;
  @include respond-to(mobile) {
    font-size: 1.1rem;
  }
  @include respond-to(tablet) {
    font-size: .8rem;
  }
  @include respond-to(desktop) {
    font-size: 1.8rem;
  }
}

