div.container-fluid:nth-child(4) > div > div[data-id='label'] {
  font-size: 16px; }
  @media (max-width: 576px) {
    div.container-fluid:nth-child(4) > div > div[data-id='label'] {
      font-size: 1.1rem;   }
}
    @media (min-width: 768px) {
      div.container-fluid:nth-child(4) > div > div[data-id='label'] {
        font-size: 0.8rem;   }
}
      @media (min-width: 992px) {
        div.container-fluid:nth-child(4) > div > div[data-id='label'] {
          font-size: 1.8rem;   }
}

input#source_folder, input#session_filename, input#target_folder {
  font-size: 16px; }
  @media (max-width: 576px) {
    input#source_folder, input#session_filename, input#target_folder {
      font-size: 0.6rem;   }
}
    @media (min-width: 768px) {
      input#source_folder, input#session_filename, input#target_folder {
        font-size: 0.8rem;   }
}
      @media (min-width: 992px) {
        input#source_folder, input#session_filename, input#target_folder {
          font-size: 1.8rem;   }
}

div.container-fluid > div > div > div > div:nth-child(5) > div,
div.row:nth-child(6) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div,
div.row:nth-child(6) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div,
div.row:nth-child(6) > div:nth-child(1) > div:nth-child(1) > div:nth-child(3) > div {
  font-size: 16px; }
  @media (max-width: 576px) {
    div.container-fluid > div > div > div > div:nth-child(5) > div,
    div.row:nth-child(6) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div,
    div.row:nth-child(6) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div,
    div.row:nth-child(6) > div:nth-child(1) > div:nth-child(1) > div:nth-child(3) > div {
      font-size: 1.1rem;   }
}
    @media (min-width: 768px) {
      div.container-fluid > div > div > div > div:nth-child(5) > div,
      div.row:nth-child(6) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div,
      div.row:nth-child(6) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div,
      div.row:nth-child(6) > div:nth-child(1) > div:nth-child(1) > div:nth-child(3) > div {
        font-size: 0.8rem;   }
}
      @media (min-width: 992px) {
        div.container-fluid > div > div > div > div:nth-child(5) > div,
        div.row:nth-child(6) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div,
        div.row:nth-child(6) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div,
        div.row:nth-child(6) > div:nth-child(1) > div:nth-child(1) > div:nth-child(3) > div {
          font-size: 1.8rem;   }
}
