{% from 'bootstrap5/nav.html' import render_nav_item %}
{% from 'bootstrap5/utils.html' import render_messages %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bootstrap-Flask Demo Application</title>
    {% assets "scss_all" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" />
    {% endassets %}
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <!--
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.6.1/toastify.css" integrity="sha512-VSD3lcSci0foeRFRHWdYX4FaLvec89irh5+QAGc00j5AOdow2r5MFPhoPEYBUQdyarXwbzyJEO7Iko7+PnPuBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.6.1/toastify.js" integrity="sha512-MnKz2SbnWiXJ/e0lSfSzjaz9JjJXQNb2iykcZkEY2WOzgJIWVqJBFIIPidlCjak0iTH2bt2u1fHQ4pvKvBYy6Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
     -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {{ bootstrap.load_css() }}
    <style>
        pre {
            background: #ddd;
            padding: 10px;
        }
        h2 {
            margin-top: 20px;
        }
        footer {
            margin: 20px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
        <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {{ render_nav_item('index', 'Home') }}
                <li class="nav-item"><a class="nav-link" href="https://getbootstrap.com/docs/5.1/getting-started/introduction/" target="_blank">Bootstrap Documentation</a></li>
                <li class="nav-item">
                    {% if is_authenticated %}
                    <span id="user-email" style="font-size: .8rem;">{{ current_user.email }}</span>

        <input type="button" class="primary-button" id="logout_btn" value="Logout">
        <script>
            $("#logout_btn").on('click', function(ev) {
                ev.preventDefault();
                window.location.href = "/logout";
            })
        </script>
    {% endif %}
                    {% if not is_authenticated %}
                    <input type="button" class="primary-button" id="show_login_btn" value="Login">
                    <script>
                        $("#show_login_btn").on('click', function(ev) {
                            ev.preventDefault();
                            $("#login_container").toggleClass('hide_login show_login');

                        })
                    </script>
                    {% endif %}
                </li>
            </ul>
        </div>
        </div>
    </nav>
    
    <main class="container">
        {{ render_messages(container=False, dismissible=True, dismiss_animate=True) }}
        {% block content %}{% endblock %}
        {% block scripts %}{% endblock %}
    </main>

    <footer style="min-height: 2vh;width: 98vw;" class="text-center">
        {% block footer %}
            <small> &copy; 2018–2023 <a href="https://github.com/sfrankwyl3110">Sascha Frank @sfrankwyl3110</a>
            </small>
        {% endblock %}
    </footer>

    {{ bootstrap.load_js() }}
{% block lightbox %}{% endblock %}
</body>
</html>
