{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form, render_field, render_form_row %}
{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
{% assets "main" %}
<link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" />
{% endassets %}

<div class="container-fluid" style="font-size: .8rem;">
 {% if is_authenticated %}
    <section class="container-fluid">
        <div class="container-fluid card">
            <div class="row">
                <div class="col-12">
                    <div id="uploaded_files" style="border: 1px dotted #CCC;">
                        <h3>Uploaded Files</h3>
                        <div id="upload_folder"></div>
                        <ul id="ufiles"></ul>
                    </div>
                </div>
            </div>
        </div>
        <script>

            $(function() {
                let delete_url = "{{ url_for('general.delete_uploaded_file') }}"
                let files_url = "{{ url_for('general.get_files_') }}"
                get_files_at_ready(files_url, delete_url)
            })
        </script>
    </section>


    {% if debug %}
<section id="file_paths" class="container-fluid ">
    <div class="container-fluid card">
    <div class="row">
      <div data-id="label" class="col-4">
        <label for="source_folder">source</label>
      </div>
      <div class="col-8">
        <input id="source_folder" class="form-control" type="text" value="{{ pdf_manager.source_folder }}" readonly>
      </div>
    </div>
    <div class="row">
      <div data-id="label" class="col-4">
        <label for="target_folder">target</label>
      </div>
      <div class="col-8">
        <input id="target_folder" class="form-control" type="text" value="{{ pdf_manager.target_folder }}" readonly>
      </div>
    </div>
    <div class="row">
      <div data-id="label" class="col-4">
        <label for="session_filename">session_filename</label>
      </div>
      <div class="col-8">
        <input id="session_filename" class="form-control" type="text" value="{{ pdf_manager.session_filename }}" readonly>
      </div>
    </div>
    </div>
</section>
    {% endif %}
    <section id="upload_form" class="container-fluid">
        <div class="container-fluid card">
<div class="row">
    <div class="col-12">
        <div class="upload_form_container mb-3 mt-3 card" style="padding: 1rem;">
    {{ upload_template_html|safe }}
        </div>
    </div>
</div>
            <div class="row">
                <div class="col-12">

                </div>
        </div>
    </section>
    <section id="pdf_buttons" class="container-fluid">
        <div class="container-fluid card">
    <div class="row">
        <div class="col-12">
            <div class="pdf_button_container container-fluid" style="padding: 1rem;">
                <div class="row">
                    <div class="col-4">
                        <input class="btn btn-primary btn-sm" type="button" value="RUN" id="btn_run" style="width: 100%;">
                    </div>
                    <div class="col-4">
                        <input class="btn btn-primary btn-sm" type="button" value="UPLOAD PDF" id="btn_upload_file" onclick="window.open('/upload_file')" style="width: 100%;">
                    </div>
                    <div class="col-4">
                        <input class="btn btn-primary btn-sm" type="button" value="RUN Extraction" id="btn_run_extraction" style="width: 100%;">
                    </div>
                </div>



            </div>
        </div>
    </div>
        </div>
    </section>
    {% endif %}
    {% if is_authenticated %}
    {% if debug %}
    <section id="connection_user_details" class="container-fluid">
        <div class="container-fluid card">
    <div class="row">
        <div class="col-12">
            <div class="container-fluid card">
                <div class="row">
                    <div class="col-4">
                    </div>
                    <div class="col-8">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        username
                    </div>
                    <div class="col-8">
                        {{ user.username }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        email
                    </div>
                    <div class="col-8">
                        {{ user.email }}
                    </div>
                </div>
                <!--
                <div class="row">
                    <div class="col-12">
                        <input type="button" id="toggle_2fa_enabled" value="Toggle 2FA">
                        <input type="radio" class="btn-check" name="options-outlined" id="enabled-outlined" autocomplete="off">
                        <label class="btn btn-outline-success" for="enabled-outlined">Checked success radio</label>

                        <input type="radio" class="btn-check" name="options-outlined" id="not-enabled-outlined" autocomplete="off">
                        <label class="btn btn-outline-danger" for="not-enabled-outlined">Danger radio</label>
                    </div>
                </div>
                -->
                <!--
                <div class="row">
                    <div class="col-4">
                        other emails
                    </div>
                    <div class="col-8">
                        {% if user.secondary_emails %}
                        {% set emails = user.secondary_emails.split(',') %}
                        <ul>
                        {% for email in emails %}
                          <li>{{ email }}</li>
                        {% endfor %}
                        {% endif %}
                        </ul>
                    </div>
                </div>
                -->
            </div>

        </div>
    </div>
        </div>
    </section>
    <section id="connection_debug_details" class="container-fluid">
        <div class="container-fluid card">
    <div class="row">
        <div class="col-12">
            <div class="container-fluid card">
                <div class="row">
                    <div class="col-4">
                        Async mode
                    </div>
                    <div class="col-8">
                        {{ async_mode }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        transport
                    </div>
                    <div class="col-8">
                        <span id="transport"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        latency
                    </div>
                    <div class="col-8">
                        <span id="ping-pong"></span>ms
                    </div>
                </div>
            </div>
        </div>
    </div>
        </div>
    </section>
    {% endif %}
    {% endif %}
    <section id="login_section">
        <div class="container-fluid card">

    <div class="row hide_login" id="login_container">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                          <form method="post" action="{{ form.action }}">
    {{ form.csrf_token }}
    {{ render_form_row([form.username, form.password], col_map={'username': 'col-md-12', 'password': 'col-md-12'}) }}


    {{ render_form_row([form.remember]) }}
    {{ render_form_row([form.submit]) }}
    </form>
                        </div>
                </div>
                <a href="{{ url_for('auth.google', ref='login') }}">Google Login</a>
            </div>

    </div>
        </div>
    </section>
    {% if is_authenticated %}

    <div class="row">
        <div class="col-12" id="log" style="max-height: 50vh; min-height: 50vh; border: 1px solid #333; overflow: hidden; background: #111; color: #ECECEC; text-shadow: 1px 1px #fff;"></div>
    </div>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    {% endif %}
</div>
{% endblock %}
